extends ../layout
block title
    | Личный кабинет
block content
    header
        .container
            .page-title
                h2 Личный кабинет
    #block-auth.content-block
        .container
            form(role="form", name="login-form", method="POST")
                .form-group
                    label(for="email") Email
                    input.form-control#email(type="email", name="email", placeholder="Введите email")
                .form-group
                    label(for="password") Пароль
                    input.form-control#password(type="password", name="password", placeholder="Password")
                .form-group
                    button.btn.btn-primary(type="submit", data-loading-text="Отправляю...") Войти
                    | &nbsp;
                    button.btn.btn-default(type="button", data-loading-text="Отправляю...") Зарегистрироваться
                span.help-block.error
