extends layout
block title
    = error.message
block content
    header
        .container
            .page-title
                h2 Извините произошла ошибка
    #block-error.content-block
        .container
            h2 Извините произошла ошибка
            p= error.message