extends layout
block title
    | О компании
block content
    header
        .container
            .page-title
                h2 Информация
    #block-page.content-block
        .container
            .page-header
                h1 Вопрос-ответ
            p Привет